.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83vh;
    margin-top: 5em;
    overflow: auto;
}
.cart-title{
    font-weight: 800;
    font-size: 2em;
}
.table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
.table_data, .table_header {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
#item-quality{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}
#arrows{
    border: 1px solid black;
    box-shadow: .1em .2em .2em gray;
    cursor: pointer;
    margin: .1em;
}