.header{  
    z-index: 100;
    position: fixed;
    width: 100%;
    min-height: 4vh;
    background-color: darkslateblue;
    box-shadow: .1em .2em .1em rgb(141, 138, 138);
}

.header-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.header-item{
    display: flex;
    align-items: center;
    width: fit-content;
    height: 2em;
    padding: 1em;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.toggle_btn, 
.cross_btn{
    display: none;
    color: white;
    width: 1em;
}

.nav_actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    align-self: center;
}

#category_select, #product_search_bar, #search_btn{
    padding: .5em;
    outline: none;
    border: none;
}

#category_select, #search_btn{
    cursor: pointer;
    font-weight: 600;
    background-color: #FAEBD7;
}

@media (max-width: 768px) {

    .header-items{
        display: none;
    }

    .nav_actions{
        flex-direction: column;
        margin: 1em;
    }

    .toggle_btn,.cross_btn{
        display: block;
        float: right;
        text-align: center;
        margin-top: 1em;
        margin-right: 0.5em;
    }

    .show_header-items{
        display: flex;
        height: auto;
        flex-direction: column;
    }

    .show_search-items{
        display: flex;
    }
}