.home{
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
    background-color: antiquewhite;
}

.home_left_side{
   font-weight: 800;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 4em;
   text-transform: uppercase;
   transition: all 0.5s ease; 
}

.home_left_side:hover{
    transform: rotate(10deg);
}

.home_right_side{
   transition: all 0.5s ease; 
}

.home_right_side:hover{
    transform: scale(1.2);
}

.home_right_side-description{
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: darkslateblue;
}

@media (max-width: 768px) {
    .home_left_side{
        font-size: 2em;
    }
    .home_right_side-description{
        font-size: 1em;
    }
}